#navbar {
  flex-direction: column;
}

#navbar ul li a {
  font-size: 0.89rem;
  padding: 0px 6px;
  margin-top: 5px;
}

#home {
  height: 370px;
  padding: 3px 28px;
  flex-direction: column;
}

#home::before {
  height: 480px;
}

h1 {
  font-size: 45px;
  margin-top: 45px;
}

#home h2 {
  font-size: 23px;
}

#search input {
  margin-top: 8px;
  width: 280px;
  height: 40px;
}

#search label {
  font-size: 18px;
  padding: 5px;
  margin: 2px;
}

#cards {
  flex-direction: column;
}

#cards .box {
  width: 250px;

  height: 175px;
}

#cards .box img {
  height: 120px;
  width: 250px;
  transition: all 0.2s ease-in-out;
}

#cards h3 {
  font-size: 16px;
  padding: 3px;
}

#cards p {
  font-size: 11px;
}

#cards {
  height: 750px;
  margin-bottom: -100px;
}
#cards .box:hover {
  width: 270px;
  height: 180px;
  cursor: pointer;
}

#cards .box img:hover {
  height: 130px;
  width: 270px;
  cursor: pointer;
}

#delivery {
  flex-direction: column;
  height: 915px;
}

#delivery .not {
  width: 250px;
  height: 200px;
  margin: 10px;
  padding: 30px;
}

#delivery .not img {
  height: 200px;
  margin: auto;
  display: block;
  width: 300px;
}
#delivery p {
  font-size: 12px;
}

#delivery h3 {
  font-size: 16px;
}

#contact {
  flex-direction: column;
  height: 665px;
}

#contact #contact-box input {
  width: 200px;
  height: 10px;
  padding: 10px;
  margin: 12px;
  border-radius: 10px;
  border: 2px solid #4a625e;
  font-size: 18px;
}

#contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
  padding: 5px;
  width: 300px;
}

#contact h2 {
  font-size: 22px;
}

#contact #contact-box button {
  width: 220px;
  height: 35px;
  padding: 10px;
  margin: 15px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: #3f5741;
  font-size: 18px;
  border: none;
  color: white;
}

#contact #photo img {
  height: 350px;
  width: 400px;
}

#app #phone img {
  height: 300px;
  width: 150px;
}

#app #android img {
  height: 80px;
  width: 80px;
  margin-left: 250px;
}

#android {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin-right: -40px;
}

#ios {
  display: none;
}

#app p {
  display: none;
}

#grid-box {
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
  margin-left: 35px;
  
}


#rum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
  display: none;
  
}
#drum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 360px;
  width: 300px;
  margin-top: 10px;
  margin-left: -10px;
 border-radius: 13px;
 font-family: 'Roboto', sans-serif;
 display: none;
 
}

.crossy{
  margin-top: -300px;
  position: relative;
  left: 250px;
  cursor: pointer;
}

#drum input{
  width: 250px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid orange;

}

#mail{
  margin-top: 20px;
  
}

#drum input::placeholder{
  font-size: 18px;
  text-align: center;
  color: #f49d1a;
}

#drum button{
  height: 35px;
  width: 120px;
  background-color: rgb(255, 119, 0);
  border: none;
  color: white;
  font-size: 15px;
  
}

#drum button:hover{
  background-color: rgb(254, 145, 50);

}

#or{
  color: rgb(0, 85, 255);
  text-decoration: underline;
  margin-top: 15px;
}

.goog{
  display: flex;
  align-items: center;
  justify-content: center;
}

.googlebox{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(174, 171, 171);
  margin-top: 20px;
  width: 250px;
  height: 60px;
  font-size: 19px;
  box-shadow: -6px 7px 10px rgb(164, 163, 163);
  color: rgb(68, 67, 67);

}

.collect{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  font-weight: lighter;
}

#collection #uu{
  font-size: 21px;
  margin-left: 40px;
  margin-top: 50px;
}
#collection #pp{
  font-size: 15px;
  margin-left: 40px;
}

.brick{
  width: 260px;
  height: 300px;
  margin-left: 15px;
  margin-top: 15px;
}

.brick img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.brick .tera{
  margin-top: -50px;
  color: #FEFCF3;
  font-weight: lighter;
}

.oreo{
  display: flex;
}

#shiro{
  color: rgb(247, 56, 56);
  margin-left: 19px;
  font-size: 10px;
}
#shiro:hover{
  color: rgb(254, 34, 34);
  cursor: pointer;
}

.git{
  display: flex;
  flex-direction: column;
  }
  
  .hum{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 45px;
  }
  
  .hum img{
    height: 100%;
    width: 100%;
  }
  
  .git #spoon{
    font-size: 20px;
    margin-left: 40px;
    margin-top: -40px;
  }
  
  .insta{
    margin-top: 40px;
    margin-left: 10px;
  }
  
  .center{
    font-size: 19px;
  }
  
  .insta .kk{
    margin: 3px;
    color: white;
    font-size: 1px;
    
  }

  footer{
    height: 250px;
  }
