
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #FEFCF3;
}
/*navbar styling*/
#navbar {
  position: relative;
  float: right;
}
/*
#navbar::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0.4;
}*/

#navbar ul {
  display: flex;

  font-size: 23px;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
}

#navbar ul li a:hover {
  color: aqua;
}

/*home section stylining*/

#home {
  /*
  display: flex;
  flex-direction: column;
  padding: 1px 115px;
  height: 450px;
  width: 1165px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  */
  display: flex;
  flex-direction: column;
  padding: 54px 20px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;

  width: 100%;
  background: url("./images/frontimg.jpg  ") no-repeat center center/cover;
  z-index: -1;
  opacity: 0.9;
  height: 500px;
  top: 0px;
  left: 0px;
}

h1 {
  font-size: 95px;
  text-align: center;
  color: white;
  font-family: "Unbounded", cursive;
}

h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(237, 228, 228);
  background-color: rgba(64, 63, 63, 0.29);
  font-family: "Noto Sans TC", sans-serif;
  margin: 8px;
}
#search input {
  width: 400px;
  height: 45px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  border: none;
}

#search input:hover {
  background-color: rgba(180, 176, 176, 0.96);
  color: black;
}

#search input::placeholder {
  font-size: 18px;
  color: rgb(94, 93, 93);
}

#search label {
  color: white;
  font-size: 23px;
  padding: 12px;
  margin: 5px;
  background-color: rgb(7, 159, 159);
  border-radius: 25px;
}
/*cards section styling*/
#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

#cards .box {
  border: 1px solid rgb(95, 94, 94);
  width: 330px;
  height: 250px;
  margin: 18px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

#cards .box:hover {
  width: 340px;
  height: 270px;
  cursor: pointer;
}

#cards .box img {
  height: 160px;
  margin: auto;
  display: block;
  width: 330px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

#cards .box img:hover {
  height: 170px;
  width: 340px;
  cursor: pointer;

}

h3 {
  font-family: "Noto Sans TC", sans-serif;
  margin: 3px;
  padding: 7px;
  color: #282626;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  margin: 3px;
  color: #353535;
}

/*fast delivery section styling*/
#delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  background-color: #1b0701;
  height: 430px;
}

#delivery .not {
  width: 300px;
  height: 250px;
  margin: 8px;
  padding: 50px;
}

#delivery .not img {
  height: 200px;
  margin: auto;
  display: block;
  width: 300px;
}

.temp {
  color: white;
}

#delivery #bell img {
  height: 120px;
  width: 120px;
  padding: 37px;
}

#para {
  color: rgba(183, 182, 182, 0.905);
}

#delivery #minimum img {
  height: 120px;
  width: 120px;
  padding: 37px;
}

#contact {
  display: flex;
  margin-top: 0px;
  height: 500px;
  justify-content: center;
  background-color: #d5cea3;
}

/*sign up section styling*/
#contact-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 34px;
  padding: 25px;
  width: 540px;
}

#contact #photo img {
  height: 500px;
  width: 720px;
}

#login {
  color: #1b0701;
  background-color: #f49d1a;
  padding: 10px;
}

#contact label {
  color: #1b0701;
}

#contact #contact-box input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: 12px;
  border-radius: 10px;
  border: 2px solid #4a625e;
  font-size: 18px;
}

#contact #contact-box button {
  width: 320px;
  height: 40px;
  padding: 10px;
  margin: 15px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: #3f5741;
  font-size: 18px;
  border: none;
  color: white;
}

#contact #contact-box button:hover {
  background-color: #273528;

  border: none;
  color: white;
}

/*app section styling*/
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#ios {
  color: black;
  background-color: white;
  font-size: 33px;
}

#android {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin-right: 200px;
}

#app #phone img {
  margin-left: 50px;
  padding: 20px;
  margin-right: 250px;
}

#app #android img {
  height: 200px;
  width: 250px;
}

#app #apple {
  color: rgb(80, 79, 79);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-left: 155px;
}

/*last section styling*/
#grid-box {
  color: white;
  background-color: black;
  height: 600px;
}

hr {
  margin: 12px;
  border: 0.02px solid rgb(108, 106, 106);
}

#primary {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 12px;
  margin-left: 143px;
  color: rgb(108, 106, 106);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 175px;
}

.samay{
  margin-top: 9px;
}

footer a{
  color: white;
}

#rum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -482px;
  display: none;

}
#drum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 420px;
  width: 340px;
  margin-top: 21px;
  margin-left: 900px;
  border-radius: 13px;
  font-family: 'Roboto', sans-serif;
  
 
}

.crossy{
  top: 60px;
  position: relative;
  left: 1200px;
  cursor: pointer;
}

#drum input{
  width: 250px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid orange;

}

#mail{
  margin-top: -10px
  
}

#drum input::placeholder{
  font-size: 18px;
  text-align: center;
  color: #f49d1a;
}

#drum button{
  height: 35px;
  width: 120px;
  background-color: rgb(255, 119, 0);
  border: none;
  color: white;
  font-size: 15px;
  
}

#drum button:hover{
  background-color: rgb(254, 145, 50);

}

#or{
  color: rgb(0, 85, 255);
  text-decoration: underline;
  margin-top: 15px;
}

.goog{
  display: flex;
  align-items: center;
  justify-content: center;
}

.googlebox{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(174, 171, 171);
  margin-top: 20px;
  width: 250px;
  height: 60px;
  font-size: 19px;
  box-shadow: -6px 7px 10px rgb(164, 163, 163);
  color: rgb(68, 67, 67);
}

.googlebox:hover{
  background-color: #a7a6a696;
}

h5{
  color: rgb(0, 85, 255);
  margin-top: 10px;
  margin-left: -90px
}

#drum a{
  color: rgb(0, 85, 255);
  font-size: 15px;
  margin-left: -190px;
}

#band:hover{
  border: 1px solid black;
  color: orangered;
}

#boxlogo{
  height: 100px;
  width: 100px;
  position: relative;
  left: -130px;
  bottom: 30px;
}

#boxlogo img{
  width: 100%;
  height: 100%;
  margin-left: -20px;
  border-radius: 90px;
}

.collect{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  font-weight: lighter;
}

#collection #uu{
  font-size: 30px;
  margin-left: 220px;
}
#collection #pp{
  font-size: 18px;
  margin-left: 228px;
}

.brick{
  width: 260px;
  height: 300px;
  margin-left: 15px;
}

.brick img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.brick .tera{
  margin-top: -50px;
  color: #FEFCF3;
  font-weight: lighter;
}

.oreo{
  display: flex;
}

#shiro{
  color: rgb(247, 56, 56);
  margin-left: 135px;
}
#shiro:hover{
  color: rgb(254, 34, 34);
  cursor: pointer;
}

.git{
display: flex;
}

.hum{
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.hum img{
  height: 100%;
  width: 100%;
}

.git #spoon{
  font-size: 40px;
  margin-left: 40px;
  margin-top: 25px;
}

.insta{
  margin-top: 40px;
  margin-left: 550px;
}

.center{
  font-size: 23px;
}

.insta .kk{
  margin: 12px;
}

#tar:hover{
  color: blue;
}
